<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MybatisBuilder.project.settings">
    <option name="connectionInfoList">
      <list>
        <ConnectionInfo>
          <option name="database" value="market.main" />
          <option name="description" value="" />
          <option name="driverClass" value="" />
          <option name="driverLibrary" value="" />
          <option name="driverType" value="MySQL" />
          <option name="host" value="120.27.15.205" />
          <option name="id" value="0bc35727542648b8abfe0a690e6dc5c8" />
          <option name="name" value="market.main" />
          <option name="port" value="3306" />
          <option name="url" value="" />
          <option name="userName" value="cj" />
        </ConnectionInfo>
      </list>
    </option>
    <option name="defaultParameters">
      <DefaultParameters>
        <option name="renameConfig">
          <Config>
            <option name="mapperTypePattern" value="" />
            <option name="exampleTypePattern" value="" />
            <option name="sqlFileNamePattern" value="" />
          </Config>
        </option>
        <option name="selectWithLockConfig">
          <SelectWithLockConfig>
            <option name="byPrimaryKeyWithLockOverride" value="" />
            <option name="byExampleWithLockOverride" value="" />
          </SelectWithLockConfig>
        </option>
      </DefaultParameters>
    </option>
    <option name="historyMap">
      <map>
        <entry key="JAVA_CLIENT_PACKAGE">
          <value>
            <list>
              <option value="cj.netos.market.mapper" />
            </list>
          </value>
        </entry>
        <entry key="JAVA_MODEL_PACKAGE">
          <value>
            <list>
              <option value="cj.netos.market.model" />
            </list>
          </value>
        </entry>
        <entry key="SQL_MAP_PACKAGE">
          <value>
            <list>
              <option value="cj.db.mappings" />
            </list>
          </value>
        </entry>
      </map>
    </option>
    <option name="lastGeneratorParamWrapper">
      <GeneratorParamWrapper>
        <option name="defaultTableConfigWrapper">
          <TableConfigurationWrapper>
            <option name="domainObjectRenamingRule">
              <DomainObjectRenamingRule>
                <option name="replaceString" value="" />
                <option name="searchString" value="" />
              </DomainObjectRenamingRule>
            </option>
            <option name="generatedKeyWrapper">
              <GeneratedKeyWrapper>
                <option name="column" value="" />
              </GeneratedKeyWrapper>
            </option>
          </TableConfigurationWrapper>
        </option>
        <option name="javaClientConfig">
          <JavaClientGeneratorConfiguration>
            <option name="configurationType" value="XMLMAPPER" />
            <option name="targetPackage" value="cj.netos.market.mapper" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.market.program/src" />
          </JavaClientGeneratorConfiguration>
        </option>
        <option name="javaModelConfig">
          <JavaModelGeneratorConfiguration>
            <option name="targetPackage" value="cj.netos.market.model" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.market.openports/src" />
          </JavaModelGeneratorConfiguration>
        </option>
        <option name="sqlMapConfig">
          <SqlMapGeneratorConfiguration>
            <option name="targetPackage" value="cj.db.mappings" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.market.program/src" />
          </SqlMapGeneratorConfiguration>
        </option>
      </GeneratorParamWrapper>
    </option>
    <option name="tableInfoMap">
      <map>
        <entry key="market.main#channel">
          <value>
            <TableInfo>
              <option name="database" value="market.main" />
              <option name="domainName" value="Channel" />
              <option name="tableComment" value="站点下的物料" />
              <option name="tableName" value="channel" />
            </TableInfo>
          </value>
        </entry>
        <entry key="market.main#ec_source">
          <value>
            <TableInfo>
              <option name="database" value="market.main" />
              <option name="domainName" value="EcSource" />
              <option name="tableComment" value="电商源" />
              <option name="tableName" value="ec_source" />
            </TableInfo>
          </value>
        </entry>
        <entry key="market.main#site">
          <value>
            <TableInfo>
              <option name="database" value="market.main" />
              <option name="domainName" value="Site" />
              <option name="tableComment" value="站点，对于淘宝源指：好券直播、大额券等" />
              <option name="tableName" value="site" />
            </TableInfo>
          </value>
        </entry>
      </map>
    </option>
  </component>
</project>